/* Themes - Blue Light */
:root {
    --base-background-app: var(--neutral-light-1);
    --base-background-component: var(--neutral-light-0);
    --base-background-hover: var(--neutral-light-2);
    --base-background-border: var(--neutral-light-3);
    --base-background-active: var(--neutral-light-4);
    --base-content--: var(--neutral-dark-0);
    --base-content-light: var(--neutral-dark-1);
    --base-content-lighter: var(--neutral-dark-3);
    --base-content-lightest: var(--neutral-dark-5);
    --base-shadow: 0 2px 6px var(--neutral-black-translucent);
    --primary-background-app: var(--blue-light-1);
    --primary-background-component: var(--blue-light-0);
    --primary-background-hover: var(--blue-light-2);
    --primary-background-active: var(--blue-light-3);
    --primary-background-border: var(--blue-light-4);
    --primary-content--: var(--blue--);
    --primary-content-hover: var(--blue-dark-7);
    --primary-content-active: var(--blue-dark-6);
    --secondary-background-app: var(--teal-light-1);
    --secondary-background-component: var(--teal-light-0);
    --secondary-background-hover: var(--teal-light-2);
    --secondary-background-border: var(--teal-light-3);
    --secondary-background-active: var(--teal-light-4);
    --secondary-content--: var(--teal--);
    --secondary-content-hover: var(--teal-dark-7);
    --secondary-content-active: var(--teal-dark-6);
    --success-background-app: var(--green-light-1);
    --success-background-component: var(--green-light-0);
    --success-background-hover: var(--green-light-2);
    --success-background-border: var(--green-light-3);
    --success-background-active: var(--green-light-4);
    --success-content--: var(--green--);
    --success-content-hover: var(--green-dark-7);
    --success-content-active: var(--green-dark-6);
    --warning-background-app: var(--yellow-light-1);
    --warning-background-component: var(--yellow-light-0);
    --warning-background-hover: var(--yellow-light-2);
    --warning-background-border: var(--yellow-light-3);
    --warning-background-active: var(--yellow-light-4);
    --warning-content--: var(--yellow--);
    --warning-content-hover: var(--yellow-dark-7);
    --warning-content-active: var(--yellow-dark-6);
    --error-background-app: var(--red-light-1);
    --error-background-component: var(--red-light-0);
    --error-background-hover: var(--red-light-2);
    --error-background-border: var(--red-light-3);
    --error-background-active: var(--red-light-4);
    --error-content--: var(--red--);
    --error-content-hover: var(--red-dark-7);
    --error-content-active: var(--red-dark-6);
    --help-background-app: var(--indigo-light-1);
    --help-background-component: var(--indigo-light-0);
    --help-background-hover: var(--indigo-light-2);
    --help-background-active: var(--indigo-light-3);
    --help-background-border: var(--indigo-light-4);
    --help-content--: var(--indigo--);
    --help-content-hover: var(--indigo-dark-7);
    --help-content-active: var(--indigo-dark-6);
    --component-appbar-background: var(--base-background-component);
    --component-appbar-color: var(--base-content--);
    --component-appbar-border-color: var(--base-background-border);
    --component-checkbox-background: var(--base-background-component);
    --component-checkbox-color: var(--base-content--);
    --component-checkbox-border-color: var(--base-content--);
    --component-checkbox-accent: var(--primary-content--);
    --component-dialog-background: var(--base-background-component);
    --component-dialog-color: var(--base-content--);
    --component-dialog-border-color: var(--base-background-border);
    --component-dialog-hover-background: var(--base-background-hover);
    --component-dialog-accent: var(--primary-content--);
    --component-drawer-background: var(--base-background-component);
    --component-drawer-color: var(--base-content--);
    --component-drawer-border-color: var(--base-background-border);
    --component-drawer-hover-background: var(--base-background-hover);
    --component-input-background: var(--base-background-app);
    --component-input-background-disabled: var(--base-background-component);
    --component-input-color: var(--base-content--);
    --component-input-border-color: var(--base-background-border);
    --component-input-accent: var(--primary-content--);
    --component-input-label-color: var(--base-content-light);
    --component-input-icon-color: var(--base-content-lighter);
    --component-input-error-color: var(--error-content--);
    --component-input-error-background: var(--error-background-component);
    --component-input-error-border-color: var(--error-background-border);
    --component-menu-background: var(--base-background-component);
    --component-menu-color: var(--base-content--);
    --component-menu-border-color: var(--base-background-border);
    --component-menu-hover-background: var(--base-background-hover);
    --component-menu-shadow: var(--base-shadow);
    --component-panel-background: var(--base-background-component);
    --component-panel-color: var(--base-content--);
    --component-panel-expanded-background: var(--base-background-app);
    --component-panel-accent: var(--primary-content--);
    --component-panel-active-border: var(--base-background-active);
    --component-panel-accent-hover-background: var(--primary-background-active);
    --component-panel-hover-background: var(--base-background-hover);
    --component-radio-color: var(--base-content--);
    --component-radio-accent: var(--primary-content--);
    --component-select-background: var(--base-background-app);
    --component-select-color: var(--base-content--);
    --component-select-border-color: var(--base-background-border);
    --component-select-accent: var(--primary-content--);
    --component-select-accent-contrast: var(--base-background-component);
    --component-select-label-color: var(--base-content-light);
    --component-select-hover-background: var(--base-background-hover);
    --component-select-shadow: var(--base-shadow);
    --component-select-error-color: var(--error-content--);
    --component-select-error-background: var(--error-background-component);
    --component-select-error-border-color: var(--error-background-border);
    --component-table-color: var(--base-content--);
    --component-table-border-color: var(--base-background-border);
    --component-table-hover-background: var(--base-background-hover);
    --component-table-active-background: var(--base-background-active);
    --component-table-color-light: var(--base-content-lightest);
    --component-tabs-background: var(--base-background-component);
    --component-tabs-color: var(--base-content--);
    --component-tabs-border-color: var(--base-background-border);
    --component-tabs-accent: var(--primary-content--);
    --font-family-header: "Lexend", sans-serif;
    --font-family-body: "Lexend", sans-serif;
}
