/* Themes - Orange Light */
:root {
    --base-background-app: var(--neutral-light-1);
    --base-background-component: var(--neutral-light-0);
    --base-background-hover: var(--neutral-light-2);
    --base-background-border: var(--neutral-light-3);
    --base-background-active: var(--neutral-light-4);
    --base-content--: var(--neutral-dark-0);
    --base-content-light: var(--neutral-dark-1);
    --base-content-lighter: var(--neutral-dark-3);
    --base-content-lightest: var(--neutral-dark-5);
    --base-shadow: #0000001f;
    --primary-background-app: var(--orange-light-1);
    --primary-background-component: var(--orange-light-0);
    --primary-background-hover: var(--orange-light-2);
    --primary-background-active: var(--orange-light-3);
    --primary-background-border: var(--orange-light-4);
    --primary-content--: var(--orange--);
    --primary-content-hover: var(--orange-dark-7);
    --primary-content-active: var(--orange-dark-6);
    --secondary-background-app: var(--amber-light-1);
    --secondary-background-component: var(--amber-light-0);
    --secondary-background-hover: var(--amber-light-2);
    --secondary-background-border: var(--amber-light-3);
    --secondary-background-active: var(--amber-light-4);
    --secondary-content--: var(--amber--);
    --secondary-content-hover: var(--amber-dark-7);
    --secondary-content-active: var(--amber-dark-6);
    --success-background-app: var(--green-light-1);
    --success-background-component: var(--green-light-0);
    --success-background-hover: var(--green-light-2);
    --success-background-border: var(--green-light-3);
    --success-background-active: var(--green-light-4);
    --success-content--: var(--green--);
    --success-content-hover: var(--green-dark-7);
    --success-content-active: var(--green-dark-6);
    --warning-background-app: var(--yellow-light-1);
    --warning-background-component: var(--yellow-light-0);
    --warning-background-hover: var(--yellow-light-2);
    --warning-background-border: var(--yellow-light-3);
    --warning-background-active: var(--yellow-light-4);
    --warning-content--: var(--yellow--);
    --warning-content-hover: var(--yellow-dark-7);
    --warning-content-active: var(--yellow-dark-6);
    --error-background-app: var(--red-light-1);
    --error-background-component: var(--red-light-0);
    --error-background-hover: var(--red-light-2);
    --error-background-border: var(--red-light-3);
    --error-background-active: var(--red-light-4);
    --error-content--: var(--red--);
    --error-content-hover: var(--red-dark-7);
    --error-content-active: var(--red-dark-6);
    --help-background-app: var(--indigo-light-1);
    --help-background-component: var(--indigo-light-0);
    --help-background-hover: var(--indigo-light-2);
    --help-background-active: var(--indigo-light-3);
    --help-background-border: var(--indigo-light-4);
    --help-content--: var(--indigo--);
    --help-content-hover: var(--indigo-dark-7);
    --help-content-active: var(--indigo-dark-6);
    --font-family-header: "Lexend", sans-serif;
    --font-family-body: "Fredoka", sans-serif;
    --component-avatar-border-radius-circle: var(--radii-full);
    --component-badge-border-radius-circle: var(--radii-full);
    --component-badge-border-radius-square: var(--radii-small);
    --component-badge-padding-small: var(--spacing-2x-small);
    --component-badge-padding-medium: var(--spacing-x-small);
    --component-badge-padding-large: var(--spacing-small);
    --component-badge-size-small: var(--sizing-2x-small);
    --component-badge-size-medium: var(--sizing-small);
    --component-badge-size-large: var(--sizing-medium);
    --component-avatar-border-radius-square: var(--radii-small);
    --component-avatar-size-small: var(--sizing-small);
    --component-avatar-size-medium: var(--sizing-medium);
    --component-avatar-size-large: var(--sizing-large);
    --component-button-border-radius-inner: var(--radii-x-small);
    --component-button-border-radius-outer: var(--radii-small);
    --component-button-border-width: var(--border-x-thin);
    --component-button-padding-small: var(--spacing-x-small);
    --component-button-padding-medium: var(--spacing-medium);
    --component-button-padding-large: var(--spacing-x-large);
    --component-card-border-width: var(--border-x-thin);
    --component-card-border-radius-inner: var(--radii-x-small);
    --component-card-border-radius-outer: var(--radii-small);
    --component-card-padding-outer: var(--spacing-x-large);
    --component-card-padding-inner: var(--spacing-medium);
    --component-dialog-border-width: var(--border-x-thin);
    --component-inputs-border-radius-inner: var(--radii-x-small);
    --component-inputs-border-radius-outer: var(--radii-small);
    --component-inputs-border-width: var(--border-x-thin);
    --component-inputs-padding-small: var(--spacing-x-small);
    --component-inputs-padding-medium: var(--spacing-medium);
    --component-inputs-padding-large: var(--spacing-x-large);
    --component-dialog-border-radius-inner: var(--radii-x-small);
    --component-dialog-border-radius-outer: var(--radii-small);
    --component-dialog-padding: var(--spacing-medium);
    --component-menu-border-radius: var(--radii-x-small);
    --component-panelbar-border-radius: var(--radii-x-small);
    --component-progress-border-radius: var(--radii-full);
    --component-progress-border-width: var(--border-x-thin);
    --component-progress-padding: var(--spacing-x-small);
    --component-progress-size-small: var(--sizing-small);
    --component-progress-size-medium: var(--sizing-medium);
    --component-progress-size-large: var(--sizing-large);
    --component-panelbar-border-width: var(--border-thin);
    --component-panelbar-padding: var(--spacing-x-small);
    --component-menu-border-width: var(--border-x-thin);
    --component-menu-padding-vertical: var(--spacing-x-small);
    --component-menu-padding-horizontal: var(--spacing-small);
    --component-sidebar-border-radius: var(--radii-small);
    --component-slider-border-radius: var(--radii-small);
    --component-slider-border-width: var(--border-x-thin);
    --component-slider-padding: var(--spacing-x-small);
    --component-sidebar-border-width: var(--border-x-thin);
    --component-sidebar-padding: var(--spacing-medium);
    --component-switch-border-radius: var(--radii-full);
    --component-switch-border-width: var(--border-x-thin);
    --component-switch-padding: var(--spacing-2x-small);
    --component-tab-border-radius-inner: var(--radii-x-small);
    --component-tab-border-radius-outer: var(--radii-small);
    --component-tab-border-width: var(--border-x-thin);
    --component-tab-padding-small: var(--spacing-small);
    --component-tab-padding-medium: var(--spacing-large);
    --component-tab-padding-large: var(--spacing-2x-large);
    --component-tab-gap-small: var(--spacing-2x-small);
    --component-tab-gap-medium: var(--spacing-small);
    --component-tab-gap-large: var(--spacing-large);
    --component-table-border-width: var(--border-x-thin);
    --component-table-border-width-header: var(--border-thin);
    --component-table-padding-small: var(--spacing-small);
    --component-table-padding-medium: var(--spacing-medium);
    --component-table-padding-large: var(--spacing-large);
    --component-tag-border-radius-circle: var(--radii-full);
    --component-tag-border-radius-square: var(--radii-small);
    --component-tag-padding-small: var(--spacing-2x-small);
    --component-tag-padding-medium: var(--spacing-x-small);
    --component-tag-padding-large: var(--spacing-small);
    --component-tag-size-small: var(--sizing-small);
    --component-tag-size-medium: var(--sizing-medium);
    --component-tag-size-large: var(--sizing-large);
    --component-button-border-width-2: var(--border-x-thin);
    --component-button-border-width-2: var(--border-x-thin);
}
