/* Themes - Orange Light */
:root {
    --base-background-app: var(--neutral-light-1);
    --base-background-component: var(--neutral-light-0);
    --base-background-hover: var(--neutral-light-2);
    --base-background-border: var(--neutral-light-3);
    --base-background-active: var(--neutral-light-4);
    --base-content--: var(--neutral-dark-0);
    --base-content-light: var(--neutral-dark-1);
    --base-content-lighter: var(--neutral-dark-3);
    --base-content-lightest: var(--neutral-dark-5);
    --base-shadow: 0 2px 6px var(--neutral-black-translucent);
    --primary-background-app: var(--orange-light-1);
    --primary-background-component: var(--orange-light-0);
    --primary-background-hover: var(--orange-light-2);
    --primary-background-active: var(--orange-light-3);
    --primary-background-border: var(--orange-light-4);
    --primary-content--: var(--orange--);
    --primary-content-hover: var(--orange-dark-7);
    --primary-content-active: var(--orange-dark-6);
    --secondary-background-app: var(--amber-light-1);
    --secondary-background-component: var(--amber-light-0);
    --secondary-background-hover: var(--amber-light-2);
    --secondary-background-border: var(--amber-light-3);
    --secondary-background-active: var(--amber-light-4);
    --secondary-content--: var(--amber--);
    --secondary-content-hover: var(--amber-dark-7);
    --secondary-content-active: var(--amber-dark-6);
    --success-background-app: var(--green-light-1);
    --success-background-component: var(--green-light-0);
    --success-background-hover: var(--green-light-2);
    --success-background-border: var(--green-light-3);
    --success-background-active: var(--green-light-4);
    --success-content--: var(--green--);
    --success-content-hover: var(--green-dark-7);
    --success-content-active: var(--green-dark-6);
    --warning-background-app: var(--yellow-light-1);
    --warning-background-component: var(--yellow-light-0);
    --warning-background-hover: var(--yellow-light-2);
    --warning-background-border: var(--yellow-light-3);
    --warning-background-active: var(--yellow-light-4);
    --warning-content--: var(--yellow--);
    --warning-content-hover: var(--yellow-dark-7);
    --warning-content-active: var(--yellow-dark-6);
    --error-background-app: var(--red-light-1);
    --error-background-component: var(--red-light-0);
    --error-background-hover: var(--red-light-2);
    --error-background-border: var(--red-light-3);
    --error-background-active: var(--red-light-4);
    --error-content--: var(--red--);
    --error-content-hover: var(--red-dark-7);
    --error-content-active: var(--red-dark-6);
    --help-background-app: var(--indigo-light-1);
    --help-background-component: var(--indigo-light-0);
    --help-background-hover: var(--indigo-light-2);
    --help-background-active: var(--indigo-light-3);
    --help-background-border: var(--indigo-light-4);
    --help-content--: var(--indigo--);
    --help-content-hover: var(--indigo-dark-7);
    --help-content-active: var(--indigo-dark-6);
    --font-family-header: "Lexend", sans-serif;
    --font-family-body: "Lexend", sans-serif;
}
